<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500397954248-8882a5s6tl0l0ths81q2b7d8iecc3mhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500397954248-8882a5s6tl0l0ths81q2b7d8iecc3mhg</string>
	<key>API_KEY</key>
	<string>AIzaSyBP9EDjFPKt-JnAQ3Kpo-4SLb9L2Q4Hxhs</string>
	<key>GCM_SENDER_ID</key>
	<string>500397954248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IMSpecial</string>
	<key>PROJECT_ID</key>
	<string>imspecial-4e5ea</string>
	<key>STORAGE_BUCKET</key>
	<string>imspecial-4e5ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500397954248:ios:dbf193971e4ea2cb7641fd</string>
	<key>DATABASE_URL</key>
	<string>https://imspecial-4e5ea.firebaseio.com</string>
</dict>
</plist>